<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
                -
                <h3>(Years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla assumenda dolorum asperiores temporibus qui veniam nobis a delectus at eveniet, sapiente doloribus soluta animi facilis quod quo deserunt facere placeat.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>
                -
                <h3>(Years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla assumenda dolorum asperiores temporibus qui veniam nobis a delectus at eveniet, sapiente doloribus soluta animi facilis quod quo deserunt facere placeat.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>
                -
                <h3>(Years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla assumenda dolorum asperiores temporibus qui veniam nobis a delectus at eveniet, sapiente doloribus soluta animi facilis quod quo deserunt facere placeat.
            </p>
        </ul>
    </div>
</div>