<div>
    <a href="https://www.facebook.com/shudiez/" target="blank_"><img src="../../../assets/facebookLogo.png" alt="facebook"></a>
    <a href="https://github.com/shudiez" target="blank_"><img src="../../../assets/githubLogo.png" alt="github"></a>
    <a href="https://www.instagram.com/?hl=es-la" target="blank_"><img src="../../../assets/instagramLogo.png" alt="instagram"></a>
    <a href="https://www.linkedin.com/in/yesica-diez/" target="blank_"><img src="../../../assets/linkedinLogo.png" alt="linkedin"></a>
</div>